{# templates/admin/dashboard.html.twig #}
{% extends 'admin_base.html.twig' %}
{% block title %}Emprendum admin{% endblock %}
{% block body %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Resumen</li>
      </ol>
      <!-- Icon Cards-->

       {% if ventas %}
       <table class="table table-striped" id="reportemain">
         <thead>
           <tr>
             <th>Id</th>
             <th>Nombre</th>
             <th>Status</th>
             <th>Fecha</th>
             <th>Estudiante</th>
             <th>Colegio</th>
             <th>Total</th>
             <th>Email</th>
             <th>Mensajería</th>
             <th>Rastreo</th>
             <th>Email</th>
            <!--  <th>-</th> -->
            
           </tr>
         </thead>
         <tbody>
           {% for venta in ventas %}
           <tr>
             <td>{{ venta.id }}</td>
             <td>{{ venta.name }}</td>
             {% if venta.payment_id %}
               {% if venta.tracking %}
                 <td>Enviado</td>
               {% else %}
                 <td>Pendiente</td>
               {% endif %}
             {% else %}
               <td>Por pagar</td>
             {% endif %}
             <td>{{ venta.request_date }}</td>
             <td>{{ venta.student }}</td>
             <td>{{ venta.colegio }}</td>
             <td>{{ venta.total }}</td>
             <td>{{ venta.email }}</td>
             <td>{{ venta.carrier }}</td>
             <td>{{ venta.tracking }}</td>
             <td>{{ venta.email }}</td>
             <!-- <td>
               <a href="{{ path('ventas_detalle',{'id':venta.id}) }}" class="btn btn-light">Ver</a>
             </td> -->
           </tr>
           {% endfor %}
         </tbody>
         <tfoot>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
          <!--  <th>-</th> -->
         </tfoot>
       </table>
       {% else %}
       <p>No hay ventas que mostrar</p>
       {% endif %}  

      <!-- Area Chart Example-->
      <!-- <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Ventas</div>
        <div class="card-body">
          <div class="col-sm-4 text-center my-auto">
              <div class="h4 mb-0 text-primary">$34,693</div>
              <div class="small text-muted">YTD Revenue</div>
              <hr>
              <div class="h4 mb-0 text-warning">$18,474</div>
              <div class="small text-muted">YTD Expenses</div>
              <hr>
              <div class="h4 mb-0 text-success">$16,219</div>
              <div class="small text-muted">YTD Margin</div>
            </div>
          </div>
      </div> -->
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('adminResources/dashboard.js') }}"></script>
 {% endblock %}
