{# templates/store/universitarios.html.twig #}
{% extends 'store_base.html.twig' %}

{% block code %}
<style type="text/css">
  body{
      height: auto; 
  }
  .footer{
	  position: unset;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
// document.getElementById("demo").innerHTML = "Paragraph changed!";
$(document).ready(function(){
  $(document.getElementById('l-estudiante-button')).hover(function(){
      recortarNombre()
      //document.getElementById("texto").innerHTML=JSON.parse(window.sessionStorage.getItem("name"));
      //document.getElementById("textos").innerHTML=JSON.parse(window.sessionStorage.getItem("name"));
    document.getElementById("li-seg").style.display = 'block';
    }, function(){
    document.getElementById("li-seg").style.display = 'none';
  });
});
</script>
<script type="text/javascript">
    window.onload = function (){
        var rows = JSON.parse(window.sessionStorage.getItem("cart"));
        var col = JSON.parse(window.sessionStorage.getItem("student"));
        if(rows == null){
            document.getElementById('l-carrito-button').style.display = 'none';
        } else{
            document.getElementById('l-carrito-qtt').innerHTML = rows.length;
            document.getElementById('l-carrito-button').style.display = 'block';
        }
        if(col == null){
            document.getElementById('l-estudiante-button').style.display = 'none';
        }else{
            document.getElementById('l-estudiante-button').style.display = 'block';
            foto();          
        }
        
    };

</script>
<script>
function foto(){
        var prue=JSON.parse(window.sessionStorage.getItem("foto"));
        var separado = prue.split("")
        var reverse = separado.reverse()
        var unir = reverse.join("")
        var n = unir.search("/")
        var bien = 'uploads/students_imgs/'+prue.slice(prue.length-n,prue.length)
        document.getElementById('l-foto').src=bien;
        console.log(bien);
}


function recortarNombre(){
        var prue=JSON.parse(window.sessionStorage.getItem("name"));
        var separado = prue.split(" ");
        var name= separado[0]
        var nombre = name.charAt(0).toUpperCase() + name.slice(1)
        console.log('length'+separado.length)
        switch(separado.length) {
        case 1:
            break;
        case 2:
            var name= separado[1]
            nombre += " " +  name.charAt(0).toUpperCase() + name.slice(1)
            break;
        case 3:
            var name= separado[1]
            nombre += " " +  name.charAt(0).toUpperCase() + name.slice(1)
        break;
        case 4:
            var name= separado[2]
            nombre += " " +  name.charAt(0).toUpperCase() + name.slice(1)
        break;
        default:
            // code block
        }
        document.getElementById("textos").innerHTML=nombre
}

</script>

<!-- incio de anuncio provicional -->
<script>
function cerrar(){
    console.log("entrando a cerrar")
    document.getElementById("pup-blur").style.display='none';
    document.getElementById("pup-info").style.display='none';
}
function adquirir(){
    console.log(JSON.parse(window.sessionStorage.getItem("cart")))
    addBooks();
    carrito();
}
function addBooks(){
        var currents = JSON.parse(window.sessionStorage.getItem("cart"));
        if(currents!= null){
            for(i=0; i<currents.length; i++){
                if(currents[i].id==103){
                    currents[i].cantidad+=1
                    flagOne=false;
                }else{
                    flagOne=true;
                }
                if(currents[i].id==102){
                    currents[i].cantidad+=1 
                    flagTwo=false;
                }else{
                    flagTwo=true;
                }
            }
            if(flagOne && flagTwo){
                currents.push({"id":102,"clave":102,"autor":"edny", "cantidad":1, "titulo":"30 dias", "peso":"1", "precio":520, "imagen":"{{ asset('uploads/books_imgs/39457686de1affd5826a1e9a2599e7e6.jpeg') }}" });
                currents.push({"id":103,"clave":103,"autor":"edny", "cantidad":1, "titulo":"ejercicio", "peso":"1", "precio":520, "imagen":"{{ asset('uploads/books_imgs/4e020ddb8ccb63539e77eca31e3ac898.jpeg') }}" });
            }
        }else{
            currents = [];
            currents.push({"id":102,"clave":102,"autor":"edny", "cantidad":1, "titulo":"30 dias", "peso":"1", "precio":520, "imagen":"{{ asset('uploads/books_imgs/39457686de1affd5826a1e9a2599e7e6.jpeg') }}" });
            currents.push({"id":103,"clave":103,"autor":"edny", "cantidad":1, "titulo":"ejercicio", "peso":"1", "precio":520, "imagen":"{{ asset('uploads/books_imgs/4e020ddb8ccb63539e77eca31e3ac898.jpeg') }}" });
        }
        window.sessionStorage.setItem('cart',JSON.stringify(currents));
        //alert("¡Se ha agregado al carrito!");
    }
</script>
<div style="
    background-color: rgba(255,255,255,0);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 4;
    position: fixed;" 
    onclick="cerrar()"
    id="pup-blur">
    <img style="
    height: 4vw;
    top: 16%;
    left: 85%;
    position: absolute;
    cursor: pointer;" 
    src="{{ asset('images/close.png') }}" onclick="cerrar()">
</div>
<div style="
    width: 65%;
    height: 30vw;
    background: linear-gradient(0, #F0C11C 20.5%, rgba(0, 0, 0, 0) 20%), linear-gradient(0, #ffff 82%, #2667F5 33%);
    position: fixed;
    top: 10em;
    z-index: 5;
    left: 17.5%;
    border-radius: 30px;
    background-size: 100% 100%;"
    id="pup-info">
<h1 style="
    font-size: 3vw;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 2.5%;
    color: white;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;">
    Conoce nuestra colección de verano 2020
    </h1>  
    <div style="
    position: relative;
    top: 0vw;
    left: 19%;
    width: 61%;
    height: auto;
    /* max-height: 83%; */
    display: grid;
    grid-gap: 13vw;
    grid-template-columns: auto auto;
    padding: 0;
    padding-top: 0;
    margin-bottom: 3%;">
                <div style="
                height: 17vw;
                position: relative;
                border-radius: 1vw;
                box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;"
                id="div-hover" 
                onclick="window.location.href='{{ path('libro',{'id':102}) }}'">
                    <img style="
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 0.2vw;"
                    src="{{ asset('uploads/books_imgs/39457686de1affd5826a1e9a2599e7e6.jpeg') }}">
                </div>
                <img style="width: 15%;
                top: 35%;
                left: 42%;
                position: absolute;" 
                src="{{ asset('images/plus.png') }}">
                <div style="
                height: 17vw;
                position: relative;
                border-radius: 1vw;
                box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;" 
                id="div-hover"
                onclick="window.location.href='{{ path('libro',{'id':103}) }}'">
                    <img style="
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 0.2vw;" 
                    src="{{ asset('uploads/books_imgs/4e020ddb8ccb63539e77eca31e3ac898.jpeg') }}">
                </div>
        </div>
        <h1 style="
    font-size: 2vw;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    color: white;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;">
    PRECIO DE VERANO: <span style="color: #ff2929; text-decoration:line-through;">$1720.00</span>  $1040.00 
    <button style="
    background-color: #2667F5;
    border: none;
    border-radius: 20px;
    height: 3vw;
    margin-left: 2%;
    color: white;
    font-size: 1.5vw;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;"
    onclick="adquirir()">
    Adquirir <span style="color: #FFFF3E; font-weight: 700;">AHORA</span> la colección</button>
    </h1> 
</div>
<!-- Fin del anuncio -->

<button class="l-carrito" id="l-carrito-button" style="background-image: url('{{ asset('images/Bg carrito@2x.png') }}')" onclick="carrito()">
    <img src="{{ asset('images/Carrito@2x.png') }}">
    <p id="l-carrito-qtt"></p>
</button>
<!-- onclick="estudiante()"-->
<button class="l-student-b" id="l-estudiante-button">
<div class="l-seg" id="li-seg">
<p style="font-size: .91vw;">Bienvenido a nuestra Librería donde podrás escoger uno o varios manuales que serán de ayuda para tí y los tuyos</p>
<p style="color: #F0C11C; font-size: 1vw;">Contribuyes a mi proyecto educativo, Gracias</p>
<p class="l-p-name" style="margin-top: 5%;"><span id="textos"></span></p>
</div>
<img id="l-foto">
</button>



    <div style="position: static;">
    <div class="l-intro">
        <img src="{{ asset('images/0008_EMPRENDUM_16.JPG') }}">
        <div>
            <h1>Leer te permite escribir una nueva historia</h1>
        </div>
    </div>   
</div> 
<div style="position: static; height:15vw;">
    <div class="l-cats">
        <div class="lc-card lc-left">
            <img src="{{asset('images/EMPRENDUM_VS_STORE.png')}}">
            <div>
                <h1>Bienestar Físico</h1>
                <p>Existen recursos sencillos para cuidar nuestro cuerpo y llevar una mejor vida con salud. Es un esfuerzo que comienza con pequeños pasos. ¿Quieres comenzar?</p>
                <!--<button>VER CATEGORÍA</button>-->
            </div>
        </div>
        <div class="lc-card lc-center">
            <img src="{{ asset('images/EMPRENDUM_EE_STORE.png') }}">
            <div>
                <h1>Equilibrio Emocional</h1>
                <p>Controlar nuestras emociones, sentir lo que sienten los demás, aprender a ser feliz con uno mismo, con nuestra familia y con los que nos rodean es uno de los mayores triunfos. ¿Cómo se logra?</p>
                <!--<button>VER CATEGORÍA</button>-->
            </div>
            
        </div>
        <div class="lc-card lc-right">
            <img src="{{ asset('images/EMPRENDUM_EV_STORE.png') }}">
            <div>
                <h1>Evaluación de Vida</h1>
                <p>Si sabemos a dónde queremos ir, es más fácil llegar. La dirección la obtenemos de lo alto. Es tiempo de avanzar. ¿Qué rumbo quieres tomar?</p>
                <!--<button>VER CATEGORÍA</button>-->
            </div>
            
        </div>
    </div>   
</div>
<div style="display:none; width: 50px; height: 50px; background-color: red;">
<p>Hola</p>
</div>

<div style="position: static;">
    <div class="l-books">
        <div class="sc-menu">
            {% if mode==1 %}
            <button id="lb-recom" class="lb-switch" onclick="window.location.href='{{ path('showBooksBy',{'all':'1'}) }}'">TODOS LOS LIBROS</button>
            <button id="lb-new" class="lb-switch" style="color: rgba(37, 45, 82, 0.5); margin-left: 5%;" onclick="window.location.href='{{ path('showBooksBy',{'all':0}) }}'">NUEVOS</button>
            {% else %}
            <button id="lb-recom" class="lb-switch" style="color:rgba(37, 45, 82, 0.5);" onclick="window.location.href='{{ path('showBooksBy',{'all':'1'}) }}'">TODOS LOS LIBROS</button>
            <button id="lb-new" class="lb-switch" style="color: #2667F5; margin-left: 5%;" onclick="window.location.href='{{ path('showBooksBy',{'all':0}) }}'">NUEVOS</button>
            {% endif %}
            <form action="{{ path('libreria_search') }}" method="post"  style="margin-top: 0; margin-bottom: 30px;">
                <input type="text" id="sc-search" name="text" placeholder="BUSCADOR" style="background-image: url('{{ asset('images/Search@2x.png') }}');">
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </div>
        <div class="lb-grid">
            {% if books %}
                {% for book in books %}
                <div class="lb-grid-item">
                    <img class="lb-grid-item-img" src="{{ asset('uploads/books_imgs/'~ book.portada) }}">
                    <div class="lb-grid-info" >
                        <img class="lb-grid-carrito" src="{{ asset('images/Group_145.png') }}" style="display: none">
                        <img class="lb-grid-img" src="{{ asset('uploads/books_imgs/'~ book.portada) }}">
                        <div class="lb-grid-name" onclick="window.location.href='{{ path('libro',{'id':book.id}) }}'">
                            <h1>{{ book.titulo }}</h1>
                        </div>
                        <div class="lb-grid-price">
                            <p>{{ book.autor }}</p>
                            <h1>${{ book.publico /100 }} mxn</h1>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>  
</div>
{% endblock %}