{# templates/store/payMethods.html.twig #}
{% extends 'store_base.html.twig' %}
{% block code %}
<script>
    var pedido = null;
    window.onload = function(){
    	document.body.style.backgroundColor = "white";
    	onLoad();
    };
    function onLoad(){
        var pedido = JSON.parse(window.sessionStorage.getItem("pedido"));
        if (pedido == null || pedido.length == 0){
            alert('no hay un id de pedido');
            window.location ='{{ path('tienda') }}';
        }
        
    }
    function pay(){
        pedido = JSON.parse(window.sessionStorage.getItem("pedido"));
        if (pedido == null || pedido.length == 0){
            alert('no hay un id de pedido');
            window.location ='{{ path('tienda') }}';
        }
        var data = {};
        data.id = pedido;
        showLoader();
        $.ajax({
            url: '{{ path('paywithcash') }}',
            type: 'post',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                hideLoader();
                window.location ='{{ path('done') }}/'+pedido;
            },
            error: function (request, error) {
                hideLoader();
                alert("Error al procesar la solicitud: " + error);
            }
        });
    }
</script>
<div class="w3aitssinglewthree" style="background-color: #D6D9DB;">
    <div class="horizonDiv" style="background-color: #FFF; height:50px;width: 70%; border: 5px; border-color: #5B6770; border-style: solid; margin: auto;">
        <div class="divStep">
            <span style="color: #5B6770; font-size:1.5vw;">Articulos</span>
        </div>
        <div class="divStep">
            <span style="color: #5B6770; font-size:1.5vw;">Envío</span>
        </div>
        <div class="divStep">
            <span style="color: #5B6770; font-size:1.5vw;">Resumen</span>
        </div>
        <div class="selectedDivStep">
            <span style="color:#fff; font-size:1.5vw;">Pago</span>
        </div>
        <div class="divStep">
            <span style="color: #5B6770; font-size:1.5vw;">Terminar</span>
        </div>
    </div>
    <br>
    <div style="height: 600px; width: 80%; margin: auto; background-color: #fff; text-align: center;">
        <input type="image" src="{{ asset('images/credit-card.png') }}"  style="width: 15%; height: 22%; margin-top: 10%;" onclick="window.location = '{{ path('cardMenthod') }}'">
        <h4 style="color: #000;">Pago con Tarjeta</h4>
        <input type="image" src="{{ asset('images/OXXO-PAY.jpg') }}" style="width: 40%; height: 20%; margin-top: 5%;" onclick="pay()">
        <h4 style="color: #000;">Pago en efectivo</h4>
    </div>
</div>
{% endblock %}